NEXT_PUBLIC_SUPABASE_URL=https://rkftquacnjasdphjjnul.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_m1DT9ParRE0X7aMv0Rxhsg_dPNduSGe
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrZnRxdWFjbmphc2RwaGpqbnVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMzUzNTQsImV4cCI6MjA5NDcxMTM1NH0.ESXJt8YsaRrJfepvcZ9CJq5rdYqM56AEPk7sJgvFW1Q

SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
ADMIN_EMAILS=admin@fisioplus.app
NEXT_PUBLIC_APP_URL=http://localhost:3001

GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyBTbTv32Muy9d3teOGPsg7ZFmcoDL2BUHE








